.quiz-container {
     // padding: 10px;
     .title {
          font-size: 27px;
          font-weight: 600;
     }
     legend {
          font-size: 13px;
     }
     table {
          padding: 15px;
     }
}